<div class="flex flex-col items-center px-40 mt-10 p-10">
  <!-- Show "Add New Category" if not in edit mode -->
  <h1
    *ngIf="!isEditMode; else updateHeading"
    class="text-3xl font-bold text-center mb-6 border-b pb-2 text-gray-700"
  >
    Add New Product
  </h1>

  <!-- Template to show when in edit mode -->
  <ng-template #updateHeading>
    <h1 class="text-3xl font-bold text-center mb-6 border-b pb-2 text-gray-700">
      Update Product
    </h1>
  </ng-template>

  <form [formGroup]="productForm" class="shadow p-4">
    <div class="flex flex-wrap">
      <!-- Category Select -->
      <mat-form-field class="w-full">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId" placeholder="Select category">
          <mat-option
            *ngFor="let category of categoryData"
            [value]="category.id"
          >
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Brand Select -->
      <mat-form-field class="w-full">
        <mat-label>Brand</mat-label>
        <mat-select formControlName="brandId" placeholder="Select brand">
          <mat-option *ngFor="let brand of filteredBrands" [value]="brand.id">
            {{ brand.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Product ID -->
      <mat-form-field class="w-full">
        <mat-label>Product ID</mat-label>
        <input matInput formControlName="id" [readonly]="isEditMode" />
      </mat-form-field>

      <!-- Product Name -->
      <mat-form-field class="w-full">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <!-- Product Description -->
      <mat-form-field class="w-full">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="5"></textarea>
      </mat-form-field>

      <!-- Price -->
      <mat-form-field class="w-full">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" type="number" />
      </mat-form-field>

      <!-- Discount -->
      <mat-form-field class="w-full">
        <mat-label>Discount</mat-label>
        <input matInput formControlName="discount" type="number" />
      </mat-form-field>

      <!-- Stock -->
      <mat-form-field class="w-full">
        <mat-label>Stock</mat-label>
        <input matInput formControlName="stock" type="number" />
      </mat-form-field>

      <!-- Image Upload Section -->
      <div formArrayName="images" class="w-full flex flex-col">
        <button
          type="button"
          class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-4 py-1.5 text-center me-2 mb-2"
          (click)="addImage()"
        >
          Add Image
        </button>
        <h2>Images</h2>
        <div
          *ngFor="let image of images.controls; let i = index"
          [formGroupName]="i"
          class="w-full"
        >
          <mat-form-field class="w-full">
            <mat-label>Image {{ i + 1 }}</mat-label>
            <input matInput formControlName="imageUrl" />
          </mat-form-field>

          <button
            type="button"
            class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-20 py-2.5 text-center me-2 mb-2 transition-all duration-300 ease-in-out transform hover:scale-105 hover:shadow-2xl"
            (click)="removeImage(i)"
            *ngIf="images.length > 1"
          >
            Remove
          </button>
        </div>
      </div>
    </div>

    <!-- Action Buttons -->
    <div class="flex justify-center">
      <button
        *ngIf="!isEditMode; else updateButton"
        type="button"
        class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-20 py-2.5 text-center me-2 mb-2 transition-all duration-300 ease-in-out transform"
        [ngClass]="{
          'hover:bg-gradient-to-br hover:scale-105 hover:shadow-2xl':
            productForm.valid,
          'cursor-not-allowed opacity-50': !productForm.valid
        }"
        (click)="addProduct()"
        [disabled]="!productForm.valid"
      >
        Add Product
      </button>

      <!-- Corrected update button template -->
      <ng-template #updateButton>
        <button
          type="button"
          class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-20 py-2.5 text-center me-2 mb-2"
          (click)="update()"
        >
          Update
        </button>
      </ng-template>
    </div>
  </form>
</div>
